@value makerLightGrey,makerBlack, makerGreen, makerWhite from '..\..\common\colors.css';

/* footer */
.footer {
  width: 100%;

  background-color: makerGreen;
  height: 4em;
  line-height: 4em;
  font-size: 0.8em;
}

.footerPara {
  color: makerWhite;
}
