@value makerLightGrey,makerBlack, makerGreen, makerWhite from '..\..\common\colors.css';

* {
  text-align: center;
  align-items: center;
  list-style: none;
}
/* container */
.container {
  width: 350px;
  height: 300px;
}

/* main */
.main {
  background-color: makerWhite;
  display: flex;
  flex-direction: column;
  height: 55%;
}
.semiTitle {
  font-weight: bold;
  font-size: 1.5em;
  padding: 1em;
}
.lists {
  width: 100%;
}
button {
  width: 90%;
  height: 2em;
  margin: 2px;
  border-radius: 15px;
  border: 2px solid makerGreen;
  box-sizing: content-box;
  background-color: makerWhite;
  cursor: pointer;
  font-weight: bold;
}
button:hover {
  background-color: makerLightGrey;
}
